@use '../abstracts' as *;

.testi {
	@include placeholder(400);
}

.scrollable {
	scrollbar-color: #14252c #090d10;
	scrollbar-width: thin;
}

html {
	trans: color 301ms, background-color 301ms;
	@include animate;
}

.fake {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
}

html[data-theme='light'] {
	--bg: #fff;
}

html[data-theme='dark'] {
	--bg: #333333;
}
.link\:link {
	@include baseLink;
}

.link\:icon {
	@include baseLink;
}

.link\:button {
	@include baseButton;
}
.link\:transparent-light {
	@include baseLink($linkColorTransDark, $linkHoverTransDark);
}

.link\:transparent-dark {
	@include baseLink($linkColorTransLight, $linkHoverTransLight);
}

// :root {
//   --danger-theme: {
//     color: white;
//     background-color: red;
//   }
// }

// .danger {
//   @apply --danger-theme;
// }

// @custom-selector :--button button, .button;
// @custom-selector :--enter :hover, :focus;

// :--button {

// }
// :--button:--enter {

// }

// .foo {
//   background-image: image-set(
//     url(img/test.png) 1x,
//     url(img/test-2x.png) 2x,
//     url(my-img-print.png) 600dpi
//   );
// }

// .blur {
//   filter: blur(4px);
// }

// div {
//   all: initial;
// }

// body {
//   font-family: system-ui;
// }

// @omnicss
