$q1: unquote('#');
$q2: unquote('{');
$q3: unquote('$');
$q4: unquote('}');

$fuckYOU: #333;
$fuckYOU1: #333;
$fuckYOU2: #444;

@function s($setting) {
	@return $q1 + $q2 + $q3 + $setting + $q4;
}

@function d($setting) {
	@return $q3 + $setting;
}

$ygg: (fuckYOU, fuckYOU1, fuckYOU2);

$yggdrasild: (
	d(fuckYOU): #333,
	d(fuckYOU1): #333,
	d(fuckYOU2): #333,
);

$yggdrasil: (
	fuckYOU: s(fuckYOU),
	fuckYOU1: s(fuckYOU1),
	fuckYOU2: s(fuckYOU2),
);

// $yg: unquote('(') + $prop + unquote(')');

$q5: unquote('d');
$q6: unquote('(');
$q7: unquote('s');
$q8: unquote(')');

@mixin lotion {
	@each $name in $ygg {
		#{--s}: $q5 + $q6 + #{$name} + $q8;
	}
	@each $name in $ygg {
		#{--d}: $q7 + $q6 + #{$name} + $q8;
	}
}

@mixin fucksass {
	@content;
}

@mixin rotion {
	@each $name in $ygg2 {
		#{$name}: $q5 + $q6 + #{$name} + $q8;
	}
}

@mixin motion {
	@each $space, $value in $yggdrasild {
		#{$space}: #{$value};
	}
}

@mixin notion {
	@each $space, $value in $yggdrasil {
		--ygg-#{$space}: #{$value};
	}
}

@include fucksass {
	@include motion;
	@include notion;
	@include lotion;
}
