$q1: unquote('#');
$q2: unquote('{');
$q3: unquote('$');
$q4: unquote('}');

$fuckYOU: #333;
$fuckYOU1: #333;
$fuckYOU2: #333;

@function s($setting) {
	@return $q1 + $q2 + $q3 + $setting + $q4;
}

@function d($setting) {
	@return $q3 + $setting;
}
$yggdrasild: (
	d(fuckYOU): #333,
	d(fuckYOU1): #333,
	d(fuckYOU2): #333,
);

$yggdrasil: (
	fuckYOU: s(fuckYOU),
	fuckYOU1: s(fuckYOU1),
	fuckYOU2: s(fuckYOU2),
);

@mixin motion {
	@each $space, $value in $yggdrasild {
		#{$space}: #{$value};
	}
}

@mixin notion {
	@each $space, $value in $yggdrasil {
		--ygg-#{$space}: #{$value};
	}
}

:root {
	@include motion;
	@include notion;
}
