$q1: unquote('#');
$q2: unquote('{');
$q3: unquote('$');
$q4: unquote('}');

$fuckYOU: #333;
$fuckYOU1: #333;
$fuckYOU2: #333;

@function s($setting) {
	@return $q1 + $q2 + $q3 + $setting + $q4;
}
$yggdrasil: (
	fuckYOU: s(fuckYOU),
	fuckYOU1: s(fuckYOU1),
	fuckYOU2: s(fuckYOU2),
);

@mixin notion {
	@each $space, $value in $yggdrasil {
		--ygg-#{$space}: #{$value};
	}
}

:root {
	@include notion;
}
