.c-r00 {
	color: #ffebee;
}
.c-r10 {
	color: #ffcdd2;
}
.c-r20 {
	color: #ef9a9a;
}
.c-r30 {
	color: #e57373;
}
.c-r40 {
	color: #ef5350;
}
.c-r50 {
	color: #f44336;
}
.c-r60 {
	color: #e53935;
}
.c-r70 {
	color: #d32f2f;
}
.c-r80 {
	color: #c62828;
}
.c-r90 {
	color: #b71c1c;
}
.c-r100 {
	color: #ff8a80;
}
.c-r120 {
	color: #ff1744;
}
.c-r130 {
	color: #d50000;
}
.c-pk00 {
	color: #fce4ec;
}
.c-pk10 {
	color: #f8bbd0;
}
.c-pk20 {
	color: #f48fb1;
}
.c-pk30 {
	color: #f06292;
}
.c-pk40 {
	color: #ec407a;
}
.c-pk50 {
	color: #e91e63;
}
.c-pk60 {
	color: #d81b60;
}
.c-pk70 {
	color: #c2185b;
}
.c-pk80 {
	color: #ad1457;
}
.c-pk90 {
	color: #880e4f;
}
.c-pk100 {
	color: #ff80ab;
}
.c-pk120 {
	color: #f50057;
}
.c-pk130 {
	color: #c51162;
}
.c-p00 {
	color: #f3e5f5;
}
.c-p10 {
	color: #e1bee7;
}
.c-p20 {
	color: #ce93d8;
}
.c-p30 {
	color: #ba68c8;
}
.c-p40 {
	color: #ab47bc;
}
.c-p50 {
	color: #9c27b0;
}
.c-p60 {
	color: #8e24aa;
}
.c-p70 {
	color: #7b1fa2;
}
.c-p80 {
	color: #6a1b9a;
}
.c-p90 {
	color: #4a148c;
}
.c-p100 {
	color: #ea80fc;
}
.c-p120 {
	color: #d500f9;
}
.c-p130 {
	color: #aa00ff;
}
.c-dp00 {
	color: #ede7f6;
}
.c-dp10 {
	color: #d1c4e9;
}
.c-dp20 {
	color: #b39ddb;
}
.c-dp30 {
	color: #9575cd;
}
.c-dp40 {
	color: #7e57c2;
}
.c-dp50 {
	color: #673ab7;
}
.c-dp60 {
	color: #5e35b1;
}
.c-dp70 {
	color: #512da8;
}
.c-dp80 {
	color: #4527a0;
}
.c-dp90 {
	color: #311b92;
}
.c-dp100 {
	color: #b388ff;
}
.c-dp120 {
	color: #651fff;
}
.c-dp130 {
	color: #6200ea;
}
.c-in00 {
	color: #e8eaf6;
}
.c-in10 {
	color: #c5cae9;
}
.c-in20 {
	color: #9fa8da;
}
.c-in30 {
	color: #7986cb;
}
.c-in40 {
	color: #5c6bc0;
}
.c-in50 {
	color: #3f51b5;
}
.c-in60 {
	color: #3949ab;
}
.c-in70 {
	color: #303f9f;
}
.c-in80 {
	color: #283593;
}
.c-in90 {
	color: #1a237e;
}
.c-in100 {
	color: #8c9eff;
}
.c-in110 {
	color: #536dfe;
}
.c-in120 {
	color: #3d5afe;
}
.c-in130 {
	color: #304ffe;
}
.c-b00 {
	color: #e3f2fd;
}
.c-b10 {
	color: #bbdefb;
}
.c-b20 {
	color: #90caf9;
}
.c-b30 {
	color: #64b5f6;
}
.c-b40 {
	color: #42a5f5;
}
.c-b50 {
	color: #2196f3;
}
.c-b60 {
	color: #1e88e5;
}
.c-b70 {
	color: #1976d2;
}
.c-b80 {
	color: #1565c0;
}
.c-b90 {
	color: #0d47a1;
}
.c-b100 {
	color: #82b1ff;
}
.c-b110 {
	color: #448aff;
}
.c-b120 {
	color: #2979ff;
}
.c-b130 {
	color: #2962ff;
}
.c-lb00 {
	color: #e1f5fe;
}
.c-lb10 {
	color: #b3e5fc;
}
.c-lb20 {
	color: #81d4fa;
}
.c-lb30 {
	color: #4fc3f7;
}
.c-lb40 {
	color: #29b6f6;
}
.c-lb50 {
	color: #03a9f4;
}
.c-lb60 {
	color: #039be5;
}
.c-lb70 {
	color: #0288d1;
}
.c-lb80 {
	color: #0277bd;
}
.c-lb90 {
	color: #01579b;
}
.c-lb100 {
	color: #80d8ff;
}
.c-lb110 {
	color: #40c4ff;
}
.c-lb120 {
	color: #00b0ff;
}
.c-lb130 {
	color: #0091ea;
}
.c-cy00 {
	color: #e0f7fa;
}
.c-cy10 {
	color: #b2ebf2;
}
.c-cy20 {
	color: #80deea;
}
.c-cy30 {
	color: #4dd0e1;
}
.c-cy40 {
	color: #26c6da;
}
.c-cy50 {
	color: #00bcd4;
}
.c-cy60 {
	color: #00acc1;
}
.c-cy70 {
	color: #0097a7;
}
.c-cy80 {
	color: #00838f;
}
.c-cy90 {
	color: #006064;
}
.c-cy100 {
	color: #84ffff;
}
.c-cy110 {
	color: #18ffff;
}
.c-cy120 {
	color: #00e5ff;
}
.c-cy130 {
	color: #00b8d4;
}
.c-t00 {
	color: #e0f2f1;
}
.c-t10 {
	color: #b2dfdb;
}
.c-t20 {
	color: #80cbc4;
}
.c-t30 {
	color: #4db6ac;
}
.c-t40 {
	color: #26a69a;
}
.c-t50 {
	color: #009688;
}
.c-t60 {
	color: #00897b;
}
.c-t70 {
	color: #00796b;
}
.c-t80 {
	color: #00695c;
}
.c-t90 {
	color: #004d40;
}
.c-t100 {
	color: #a7ffeb;
}
.c-t110 {
	color: #64ffda;
}
.c-t120 {
	color: #1de9b6;
}
.c-t130 {
	color: #00bfa5;
}
.c-g00 {
	color: #e8f5e9;
}
.c-g10 {
	color: #c8e6c9;
}
.c-g20 {
	color: #a5d6a7;
}
.c-g30 {
	color: #81c784;
}
.c-g40 {
	color: #66bb6a;
}
.c-g50 {
	color: #4caf50;
}
.c-g60 {
	color: #43a047;
}
.c-g70 {
	color: #388e3c;
}
.c-g80 {
	color: #2e7d32;
}
.c-g90 {
	color: #1b5e20;
}
.c-g100 {
	color: #b9f6ca;
}
.c-g110 {
	color: #69f0ae;
}
.c-g120 {
	color: #00e676;
}
.c-g130 {
	color: #00c853;
}
.c-lg00 {
	color: #f1f8e9;
}
.c-lg10 {
	color: #dcedc8;
}
.c-lg20 {
	color: #c5e1a5;
}
.c-lg30 {
	color: #aed581;
}
.c-lg40 {
	color: #9ccc65;
}
.c-lg50 {
	color: #8bc34a;
}
.c-lg60 {
	color: #7cb342;
}
.c-lg70 {
	color: #689f38;
}
.c-lg80 {
	color: #558b2f;
}
.c-lg90 {
	color: #33691e;
}
.c-lg100 {
	color: #ccff90;
}
.c-lg110 {
	color: #b2ff59;
}
.c-lg120 {
	color: #76ff03;
}
.c-lg130 {
	color: #64dd17;
}
.c-lm00 {
	color: #f9fbe7;
}
.c-lm10 {
	color: #f0f4c3;
}
.c-lm20 {
	color: #e6ee9c;
}
.c-lm30 {
	color: #dce775;
}
.c-lm40 {
	color: #d4e157;
}
.c-lm50 {
	color: #cddc39;
}
.c-lm60 {
	color: #c0ca33;
}
.c-lm70 {
	color: #afb42b;
}
.c-lm80 {
	color: #9e9d24;
}
.c-lm90 {
	color: #827717;
}
.c-lm100 {
	color: #f4ff81;
}
.c-lm110 {
	color: #eeff41;
}
.c-lm120 {
	color: #c6ff00;
}
.c-lm130 {
	color: #aeea00;
}
.c-y00 {
	color: #fffde7;
}
.c-y10 {
	color: #fff9c4;
}
.c-y20 {
	color: #fff59d;
}
.c-y30 {
	color: #fff176;
}
.c-y40 {
	color: #ffee58;
}
.c-y50 {
	color: #ffeb3b;
}
.c-y60 {
	color: #fdd835;
}
.c-y70 {
	color: #fbc02d;
}
.c-y80 {
	color: #f9a825;
}
.c-y90 {
	color: #f57f17;
}
.c-y100 {
	color: #ffff8d;
}
.c-y110 {
	color: #ffff00;
}
.c-y120 {
	color: #ffea00;
}
.c-y130 {
	color: #ffd600;
}
.c-am00 {
	color: #fff8e1;
}
.c-am10 {
	color: #ffecb3;
}
.c-am20 {
	color: #ffe082;
}
.c-am30 {
	color: #ffd54f;
}
.c-am40 {
	color: #ffca28;
}
.c-am50 {
	color: #ffc107;
}
.c-am60 {
	color: #ffb300;
}
.c-am70 {
	color: #ffa000;
}
.c-am80 {
	color: #ff8f00;
}
.c-am90 {
	color: #ff6f00;
}
.c-am100 {
	color: #ffe57f;
}
.c-am110 {
	color: #ffd740;
}
.c-am120 {
	color: #ffc400;
}
.c-am130 {
	color: #ffab00;
}
.c-o00 {
	color: #fff3e0;
}
.c-o10 {
	color: #ffe0b2;
}
.c-o20 {
	color: #ffcc80;
}
.c-o30 {
	color: #ffb74d;
}
.c-o40 {
	color: #ffa726;
}
.c-o50 {
	color: #ff9800;
}
.c-o60 {
	color: #fb8c00;
}
.c-o70 {
	color: #f57c00;
}
.c-o80 {
	color: #ef6c00;
}
.c-o90 {
	color: #e65100;
}
.c-o100 {
	color: #ffd180;
}
.c-o110 {
	color: #ffab40;
}
.c-o120 {
	color: #ff9100;
}
.c-o130 {
	color: #ff6d00;
}
.c-do00 {
	color: #fbe9e7;
}
.c-do10 {
	color: #ffccbc;
}
.c-do20 {
	color: #ffab91;
}
.c-do30 {
	color: #ff8a65;
}
.c-do40 {
	color: #ff7043;
}
.c-do50 {
	color: #ff5722;
}
.c-do60 {
	color: #f4511e;
}
.c-do70 {
	color: #e64a19;
}
.c-do80 {
	color: #d84315;
}
.c-do90 {
	color: #bf360c;
}
.c-do100 {
	color: #ff9e80;
}
.c-do110 {
	color: #ff6e40;
}
.c-do120 {
	color: #ff3d00;
}
.c-do130 {
	color: #dd2c00;
}
.c-br00 {
	color: #efebe9;
}
.c-br10 {
	color: #d7ccc8;
}
.c-br20 {
	color: #bcaaa4;
}
.c-br30 {
	color: #a1887f;
}
.c-br40 {
	color: #8d6e63;
}
.c-br50 {
	color: #795548;
}
.c-br60 {
	color: #6d4c41;
}
.c-br70 {
	color: #5d4037;
}
.c-br80 {
	color: #4e342e;
}
.c-br90 {
	color: #3e2723;
}
.c-gy00 {
	color: #fafafa;
}
.c-gy10 {
	color: #f5f5f5;
}
.c-gy20 {
	color: #eeeeee;
}
.c-gy30 {
	color: #e0e0e0;
}
.c-gy40 {
	color: #bdbdbd;
}
.c-gy50 {
	color: #9e9e9e;
}
.c-gy60 {
	color: #757575;
}
.c-gy70 {
	color: #616161;
}
.c-gy80 {
	color: #424242;
}
.c-gy90 {
	color: #212121;
}
.c-blg00 {
	color: #eceff1;
}
.c-blg10 {
	color: #cfd8dc;
}
.c-blg20 {
	color: #b0bec5;
}
.c-blg30 {
	color: #90a4ae;
}
.c-blg40 {
	color: #78909c;
}
.c-blg50 {
	color: #607d8b;
}
.c-blg60 {
	color: #546e7a;
}
.c-blg70 {
	color: #455a64;
}
.c-blg80 {
	color: #37474f;
}
.c-blg90 {
	color: #263238;
}
.c-blg100 {
	color: #11171a;
}
