@use '../../variables' as *;
@use '../../mixins' as *;

.op-0 {
	opacity: 0 !important;
}
.op-1 {
	opacity: 0.1 !important;
}
.op-2 {
	opacity: 0.2 !important;
}
.op-3 {
	opacity: 0.3 !important;
}
.op-4 {
	opacity: 0.4 !important;
}
.op-5 {
	opacity: 0.5 !important;
}
.op-6 {
	opacity: 0.6 !important;
}
.op-7 {
	opacity: 0.7 !important;
}
.op-8 {
	opacity: 0.8 !important;
}
.op-9 {
	opacity: 0.9 !important;
}
.op-10 {
	opacity: 1 !important;
}

@include mq(sm) {
	.op-sm-0 {
		opacity: 0 !important;
	}
	.op-sm-1 {
		opacity: 0.1 !important;
	}
	.op-sm-2 {
		opacity: 0.2 !important;
	}
	.op-sm-3 {
		opacity: 0.3 !important;
	}
	.op-sm-4 {
		opacity: 0.4 !important;
	}
	.op-sm-5 {
		opacity: 0.5 !important;
	}
	.op-sm-6 {
		opacity: 0.6 !important;
	}
	.op-sm-7 {
		opacity: 0.7 !important;
	}
	.op-sm-8 {
		opacity: 0.8 !important;
	}
	.op-sm-9 {
		opacity: 0.9 !important;
	}
	.op-sm-10 {
		opacity: 1 !important;
	}
}
@include mq(md) {
	.op-md-0 {
		opacity: 0 !important;
	}
	.op-md-1 {
		opacity: 0.1 !important;
	}
	.op-md-2 {
		opacity: 0.2 !important;
	}
	.op-md-3 {
		opacity: 0.3 !important;
	}
	.op-md-4 {
		opacity: 0.4 !important;
	}
	.op-md-5 {
		opacity: 0.5 !important;
	}
	.op-md-6 {
		opacity: 0.6 !important;
	}
	.op-md-7 {
		opacity: 0.7 !important;
	}
	.op-md-8 {
		opacity: 0.8 !important;
	}
	.op-md-9 {
		opacity: 0.9 !important;
	}
	.op-md-10 {
		opacity: 1 !important;
	}
}
@include mq(lg) {
	.op-lg-0 {
		opacity: 0 !important;
	}
	.op-lg-1 {
		opacity: 0.1 !important;
	}
	.op-lg-2 {
		opacity: 0.2 !important;
	}
	.op-lg-3 {
		opacity: 0.3 !important;
	}
	.op-lg-4 {
		opacity: 0.4 !important;
	}
	.op-lg-5 {
		opacity: 0.5 !important;
	}
	.op-lg-6 {
		opacity: 0.6 !important;
	}
	.op-lg-7 {
		opacity: 0.7 !important;
	}
	.op-lg-8 {
		opacity: 0.8 !important;
	}
	.op-lg-9 {
		opacity: 0.9 !important;
	}
	.op-lg-10 {
		opacity: 1 !important;
	}
}
@include mq(xl) {
	.op-xl-0 {
		opacity: 0 !important;
	}
	.op-xl-1 {
		opacity: 0.1 !important;
	}
	.op-xl-2 {
		opacity: 0.2 !important;
	}
	.op-xl-3 {
		opacity: 0.3 !important;
	}
	.op-xl-4 {
		opacity: 0.4 !important;
	}
	.op-xl-5 {
		opacity: 0.5 !important;
	}
	.op-xl-6 {
		opacity: 0.6 !important;
	}
	.op-xl-7 {
		opacity: 0.7 !important;
	}
	.op-xl-8 {
		opacity: 0.8 !important;
	}
	.op-xl-9 {
		opacity: 0.9 !important;
	}
	.op-xl-10 {
		opacity: 1 !important;
	}
}
@include mq(xxl) {
	.op-xxl-0 {
		opacity: 0 !important;
	}
	.op-xxl-1 {
		opacity: 0.1 !important;
	}
	.op-xxl-2 {
		opacity: 0.2 !important;
	}
	.op-xxl-3 {
		opacity: 0.3 !important;
	}
	.op-xxl-4 {
		opacity: 0.4 !important;
	}
	.op-xxl-5 {
		opacity: 0.5 !important;
	}
	.op-xxl-6 {
		opacity: 0.6 !important;
	}
	.op-xxl-7 {
		opacity: 0.7 !important;
	}
	.op-xxl-8 {
		opacity: 0.8 !important;
	}
	.op-xxl-9 {
		opacity: 0.9 !important;
	}
	.op-xxl-10 {
		opacity: 1 !important;
	}
}
