@use '../../variables' as *;
@use '../../mixins' as *;

.ink {
	color: #000 !important;
	font-size: 1.8rem !important;
}

.phase {
	transition: all 0.5s ease;
}

.see {
	color: #fff !important;
	font-size: 1.8rem !important;
}

.sith {
	background-color: #070b0d;
}

.trace {
	border: 2px solid #fff;
	box-shadow: 0 0 0 2px #070b0d80;
}
.smok {
	color: #bebebe !important;
}

.hvr {
	transition: all 0.3s ease-in-out;
}
.hvr:hover {
	box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	transition: all 0.3s ease-in-out;
}

.zoom img,
.zoom video {
	transition: all 0.3s linear;
}
.zoom:hover img,
.zoom:hover video {
	transform: scale(1.1);
}

.bg-cover {
	background-size: cover;
}

.bg-contain {
	background-size: contain;
}

.bg-norep {
	background-repeat: no-repeat;
}

.bg-none {
	background-color: transparent;
}

.bmg {
	position: relative;
	overflow: hidden;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

.phase {
	transition: all 0.5s ease;
}

.trans {
	background-color: $trans;
	@include animate;
}
.cart-bg {
	background-color: #e8e8e8;
}
.br {
	border-radius: 0.25rem;
}
.rel {
	position: relative;
}
