<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <link rel="stylesheet" href="https://seerseven.github.io/notion-starter/theme/assets/seerseven.min.css">
  <link rel="stylesheet" href="https://seerseven.github.io/notion-starter/theme/assets/notion.min.css">


  <script src="https://seerseven.github.io/notion-starter/theme/assets/vendor.min.js"></script>
  <script src="https://seerseven.github.io/notion-starter/theme/assets/seerseven.min.js"></script>
  <script src="https://seerseven.github.io/notion-starter/theme/assets/notion.min.js"></script>
</head>
<body>
  <div id="page-index">
    content here
  </div>
</body>
</html>