<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

<link rel="stylesheet" href="https://github.com/seerseven/notion-starter/blob/master/theme/assets/seerseven.min.css"/>
<link rel="stylesheet" href="https://github.com/seerseven/notion-starter/blob/master/theme/assets/notion.min.css"/>
<script src="https://github.com/seerseven/notion-starter/blob/master/theme/assets/vendor.min.css"></script>
<script src="https://github.com/seerseven/notion-starter/blob/master/theme/assets/seerseven.min.css"></script>
<script src="https://github.com/seerseven/notion-starter/blob/master/theme/assets/notion.min.css"></script>

</head>
<body>
  
</body>
</html>