//Theme Variables
$switch: var(--switch);
$switchV: var(--switchV);
$textColor: var(--textColor);
$linkColor: var(--linkColor);
$linkHover: var(--linkHover);
$buttonColor: var(--buttonColor);
$buttonHover: var(--buttonHover);
$buttonBGColor: var(--buttonBGColor);
$buttonBGHover: var(--buttonBGHover);
$linkColorTransLight: var(--linkColorTransLight);
$linkHoverTransLight: var(--linkHoverTransLight);
$linkColorTransDark: var(--linkColorTransDark);
$linkHoverTransDark: var(--linkHoverTransDark);
$colorMode: var(--colorMode);
$colorModeBG: var(--colorModeBG);
$colorModeV: var(--colorModeV);
$colorModeBGV: var(--colorModeBGV);

//Header Variables
$headerBG: var(--headerBG);
$headerIMG: var(--headerIMG);
$decoreLine: var(--decore-line);
$decoreWeight: var(--decore-weight);
$decoreStyle: var(--decore-style);
$decoreHover: var(--decore-hover);

//Footer Variables
$footerBG: var(--footerBG);
$footerBottom: var(--footer-bottom);
