@use './colors' as *;

$delay-map: (
	1: 0.1s,
	2: 0.2s,
	3: 0.3s,
	4: 0.4s,
	5: 0.5s,
	6: 0.6s,
	7: 0.7s,
	8: 0.8s,
	9: 0.9s,
	10: 1s,
	11: 1.1s,
	12: 1.2s,
	13: 1.3s,
	14: 1.4s,
	15: 1.5s,
	16: 1.6s,
	17: 1.7s,
	18: 1.8s,
	19: 1.9s,
	20: 2s,
	21: 2.1s,
	22: 2.2s,
	23: 2.3s,
	24: 2.4s,
	25: 2.5s,
	26: 2.6s,
	27: 2.7s,
	28: 2.8s,
	29: 2.9s,
	30: 3s,
	31: 3.1s,
	32: 3.2s,
	33: 3.3s,
	34: 3.4s,
	35: 3.5s,
	36: 3.6s,
	37: 3.7s,
	38: 3.8s,
	39: 3.9s,
	40: 4s,
	41: 4.1s,
	42: 4.2s,
	43: 4.3s,
	44: 4.4s,
	45: 4.5s,
	46: 4.6s,
	47: 4.7s,
	48: 4.8s,
	49: 4.9s,
	50: 5s,
);

$font-sizes-map: (
	0: 0rem,
	1: 0.1rem,
	2: 0.2rem,
	3: 0.3rem,
	4: 0.4rem,
	5: 0.5rem,
	6: 0.6rem,
	7: 0.7rem,
	8: 0.8rem,
	9: 0.9rem,
	10: 1rem,
	11: 1.1rem,
	12: 1.2rem,
	13: 1.3rem,
	14: 1.4rem,
	15: 1.5rem,
	16: 1.6rem,
	17: 1.7rem,
	18: 1.8rem,
	19: 1.9rem,
	20: 2rem,
	21: 2.1rem,
	22: 2.2rem,
	23: 2.3rem,
	24: 2.4rem,
	25: 2.5rem,
	26: 2.6rem,
	27: 2.7rem,
	28: 2.8rem,
	29: 2.9rem,
	30: 3rem,
	31: 3.1rem,
	32: 3.2rem,
	33: 3.3rem,
	34: 3.4rem,
	35: 3.5rem,
	36: 3.6rem,
	37: 3.7rem,
	38: 3.8rem,
	39: 3.9rem,
	40: 4rem,
	41: 4.1rem,
	42: 4.2rem,
	43: 4.3rem,
	44: 4.4rem,
	45: 4.5rem,
	46: 4.6rem,
	47: 4.7rem,
	48: 4.8rem,
	49: 4.9rem,
	50: 5rem,
);

$breakpoints-map: (
	zx: 0,
	xs: 360px,
	sm: 576px,
	sx: 640px,
	md: 768px,
	nx: 900px,
	lg: 992,
	xl: 1200px,
	xxl: 1400px,
	xxxl: 1600px,
);

$break-widths-map: (
	1: 1px,
	2: 1.5px,
	3: 2px,
	4: 2.5px,
	5: 3px,
	6: 3.5px,
	7: 4px,
	8: 4.5px,
	9: 5px,
);

$max-widths-map: (
	1: 100px,
	2: 200px,
	3: 300px,
	4: 400px,
	5: 500px,
	6: 600px,
	7: 700px,
	8: 800px,
	9: 900px,
	10: 1000px,
	11: 1100px,
	12: 1200px,
	13: 1300px,
	14: 1400px,
	15: 1500px,
	16: 1600px,
);

$flx-aligns-map: (
	s: flex-start,
	c: center,
	a: space-around,
	b: space-between,
	q: space-evenly,
	e: flex-end,
);

$insta-filters: (
	1: 1977,
	2: amaro,
	3: brannan,
	4: earlybird,
	5: inkwell,
	6: kalvin,
	7: lo-fi,
	8: nashville,
	9: toaster,
);

$filters-map: (
	0: none,
	1: blur,
	2: brightness,
	3: contrast,
	4: drop-shadow,
	5: grayscale,
	6: hue-rotate,
	7: invert,
	8: opacity,
	9: saturate,
	10: sepia,
);

$hexmap: (
	r00: $r00,
	r10: $r10,
	r20: $r20,
	r30: $r30,
	r40: $r40,
	r50: $r50,
	r60: $r60,
	r70: $r70,
	r80: $r80,
	r90: $r90,
	r100: $r100,
	r120: $r120,
	r130: $r130,
	pk00: $pk00,
	pk10: $pk10,
	pk20: $pk20,
	pk30: $pk30,
	pk40: $pk40,
	pk50: $pk50,
	pk60: $pk60,
	pk70: $pk70,
	pk80: $pk80,
	pk90: $pk90,
	pk100: $pk100,
	pk120: $pk120,
	pk130: $pk130,
	p00: $p00,
	p10: $p10,
	p20: $p20,
	p30: $p30,
	p40: $p40,
	p50: $p50,
	p60: $p60,
	p70: $p70,
	p80: $p80,
	p90: $p90,
	p100: $p100,
	p120: $p120,
	p130: $p130,
	dp00: $dp00,
	dp10: $dp10,
	dp20: $dp20,
	dp30: $dp30,
	dp40: $dp40,
	dp50: $dp50,
	dp60: $dp60,
	dp70: $dp70,
	dp80: $dp80,
	dp90: $dp90,
	dp100: $dp100,
	dp120: $dp120,
	dp130: $dp130,
	in00: $in00,
	in10: $in10,
	in20: $in20,
	in30: $in30,
	in40: $in40,
	in50: $in50,
	in60: $in60,
	in70: $in70,
	in80: $in80,
	in90: $in90,
	in100: $in100,
	in110: $in110,
	in120: $in120,
	in130: $in130,
	b00: $b00,
	b10: $b10,
	b20: $b20,
	b30: $b30,
	b40: $b40,
	b50: $b50,
	b60: $b60,
	b70: $b70,
	b80: $b80,
	b90: $b90,
	b100: $b100,
	b110: $b110,
	b120: $b120,
	b130: $b130,
	lb00: $lb00,
	lb10: $lb10,
	lb20: $lb20,
	lb30: $lb30,
	lb40: $lb40,
	lb50: $lb50,
	lb60: $lb60,
	lb70: $lb70,
	lb80: $lb80,
	lb90: $lb90,
	lb100: $lb100,
	lb110: $lb110,
	lb120: $lb120,
	lb130: $lb130,
	cy00: $cy00,
	cy10: $cy10,
	cy20: $cy20,
	cy30: $cy30,
	cy40: $cy40,
	cy50: $cy50,
	cy60: $cy60,
	cy70: $cy70,
	cy80: $cy80,
	cy90: $cy90,
	cy100: $cy100,
	cy110: $cy110,
	cy120: $cy120,
	cy130: $cy130,
	t00: $t00,
	t10: $t10,
	t20: $t20,
	t30: $t30,
	t40: $t40,
	t50: $t50,
	t60: $t60,
	t70: $t70,
	t80: $t80,
	t90: $t90,
	t100: $t100,
	t110: $t110,
	t120: $t120,
	t130: $t130,
	g00: $g00,
	g10: $g10,
	g20: $g20,
	g30: $g30,
	g40: $g40,
	g50: $g50,
	g60: $g60,
	g70: $g70,
	g80: $g80,
	g90: $g90,
	g100: $g100,
	g110: $g110,
	g120: $g120,
	g130: $g130,
	lg00: $lg00,
	lg10: $lg10,
	lg20: $lg20,
	lg30: $lg30,
	lg40: $lg40,
	lg50: $lg50,
	lg60: $lg60,
	lg70: $lg70,
	lg80: $lg80,
	lg90: $lg90,
	lg100: $lg100,
	lg110: $lg110,
	lg120: $lg120,
	lg130: $lg130,
	lm00: $lm00,
	lm10: $lm10,
	lm20: $lm20,
	lm30: $lm30,
	lm40: $lm40,
	lm50: $lm50,
	lm60: $lm60,
	lm70: $lm70,
	lm80: $lm80,
	lm90: $lm90,
	lm100: $lm100,
	lm110: $lm110,
	lm120: $lm120,
	lm130: $lm130,
	y00: $y00,
	y10: $y10,
	y20: $y20,
	y30: $y30,
	y40: $y40,
	y50: $y50,
	y60: $y60,
	y70: $y70,
	y80: $y80,
	y90: $y90,
	y100: $y100,
	y110: $y110,
	y120: $y120,
	y130: $y130,
	am00: $am00,
	am10: $am10,
	am20: $am20,
	am30: $am30,
	am40: $am40,
	am50: $am50,
	am60: $am60,
	am70: $am70,
	am80: $am80,
	am90: $am90,
	am100: $am100,
	am110: $am110,
	am120: $am120,
	am130: $am130,
	o00: $o00,
	o10: $o10,
	o20: $o20,
	o30: $o30,
	o40: $o40,
	o50: $o50,
	o60: $o60,
	o70: $o70,
	o80: $o80,
	o90: $o90,
	o100: $o100,
	o110: $o110,
	o120: $o120,
	o130: $o130,
	do00: $do00,
	do10: $do10,
	do20: $do20,
	do30: $do30,
	do40: $do40,
	do50: $do50,
	do60: $do60,
	do70: $do70,
	do80: $do80,
	do90: $do90,
	do100: $do100,
	do110: $do110,
	do120: $do120,
	do130: $do130,
	br00: $br00,
	br10: $br10,
	br20: $br20,
	br30: $br30,
	br40: $br40,
	br50: $br50,
	br60: $br60,
	br70: $br70,
	br80: $br80,
	br90: $br90,
	gy00: $gy00,
	gy10: $gy10,
	gy20: $gy20,
	gy30: $gy30,
	gy40: $gy40,
	gy50: $gy50,
	gy60: $gy60,
	gy70: $gy70,
	gy80: $gy80,
	gy90: $gy90,
	blg00: $blg00,
	blg10: $blg10,
	blg20: $blg20,
	blg30: $blg30,
	blg40: $blg40,
	blg50: $blg50,
	blg60: $blg60,
	blg70: $blg70,
	blg80: $blg80,
	blg90: $blg90,
	blg100: $blg100,
);

$ui-colors-map: (
	1: $mid-grey,
	2: $dark-grey,
	3: $turquoise,
	4: $green-sea,
	5: $emerald,
	6: $nephritis,
	7: $peter-river,
	8: $belize-hole,
	9: $amethyst,
	10: $wisteria,
	11: $wet-asphalt,
	12: $midnight-blue,
	13: $sunflower,
	14: $orange,
	15: $carrot,
	16: $pumpkin,
	17: $alizarin,
	18: $pomegranate,
	19: $clouds,
	20: $silver,
	21: $concrete,
	22: $asbestos,
	23: $craven,
	24: $black,
);

$tones: (
	blue: blue,
	green: green,
	red: red,
	purple: purple,
	orange: orange,
	yellow: yellow,
	pink: pink,
	indigo: indigo,
	aqua: aqua,
	teal: teal,
	brown: brown,
	grey: grey,
);

$mods: (
	d: dark,
	l: light,
	r: random,
);
