@use './colors' as *;

$clr-1: var(--color-primary);

$color-primary: #671e9b !important;
$cta-color-bg: #e4f5fe !important;
$cta-padding: 12px 22px !important;
$cta-border-radius: 50px !important;
$cta-color-text: #424b55 !important;
$color-text-default: #424b55;
$callout-border-radius: 20px !important;
$inline-code-bg-color: rgba(28, 160, 241, 0.1) !important;
$content-width: 1500px !important;
$color-code-block: #fafafa !important;
$color-text-light: white !important;
$column-spacing: 15px !important;
$collection-card-cover-size-small: 180px !important;
$collection-card-cover-size-medium: 260px !important;
$collection-card-cover-size-large: calc(50% - 15px) !important;
$transition: all 0.17s ease-in-out !important;
$color-bg-gray: #f5f4f2 !important;
$color-ui-hover-bg: rgba(150, 150, 150, 0.1) !important;
$color-ui-hover-bg-light: #e7f5fd !important;
$color-border-default: #f1f5f7;
$color-accent-bg: $clr-1;
$color-card-bg: rgba(150, 150, 150, 0.1) !important;

$cta-bg: var(--cta-color-bg);
$cta-p: var(--cta-padding);
$cta-br: var(--cta-border-radius);
$cta-txt: var(--cta-color-text);
$clr-txt-d: var(--color-text-default);
$call-br: var(--callout-border-radius);
$in-code: var(--inline-code-bg-color);
$con-w: var(--content-width);
$blk-code: var(--color-code-block);
$c-txt-l: var(--color-text-light);
$col-spac: var(--column-spacing);
$ccc-sm: var(--collection-card-cover-size-small);
$ccc-md: var(--collection-card-cover-size-medium);
$ccc-lg: var(--collection-card-cover-size-large);
$t-rans: var(--transition);
$bgc-gray: var(--color-bg-gray);
$ui-hvr-bg: var(--color-ui-hover-bg);
$ui-hvr-bgl: var(--color-ui-hover-bg-light);
$c-bdr-d: var(--color-border-default);
$c-acc-bg: var(--color-accent-bg);
$c-card-bg: var(--color-card-bg);

@mixin notion-theme-variables {
	--color-primary: #{$color-primary};
	--cta-color-bg: #{$cta-color-bg};
	--cta-padding: #{$cta-padding};
	--cta-border-radius: #{$cta-border-radius};
	--cta-color-text: #{$cta-color-text};
	--color-text-default: #{$color-text-default};
	--callout-border-radius: #{$callout-border-radius};
	--inline-code-bg-color: #{$inline-code-bg-color};
	--content-width: #{$content-width};
	--color-code-block: #{$color-code-block};
	--color-text-light: #{$color-text-light};
	--column-spacing: #{$column-spacing};
	--collection-card-cover-size-small: #{$collection-card-cover-size-small};
	--collection-card-cover-size-medium: #{$collection-card-cover-size-medium};
	--collection-card-cover-size-large: #{$collection-card-cover-size-large};
	--transition: #{$transition};
	--color-bg-gray: #{$color-bg-gray};
	--color-ui-hover-bg: #{$color-ui-hover-bg};
	--color-ui-hover-bg-light: #{$color-ui-hover-bg-light};
	--color-border-default: #{$color-border-default};
	--color-accent-bg: #{$color-accent-bg};
	--color-card-bg: #{$color-card-bg};
}
