@use './colors' as *;

$clr-default: #4d586f !important;
$clr-default-light: #64748b !important;
$clr-gray: #9ca3af !important;
$clr-brown: #c9844f !important;
$clr-orange: #fb923c !important;
$clr-yellow: #fbbf24 !important;
$clr-green: #34d399 !important;
$clr-blue: #60a5fa !important;
$clr-purple: #c084fc !important;
$clr-pink: #f472b6 !important;
$clr-red: #f87171 !important;
$bg-default: #f8f8f8 !important;
$bg-gray: #f0edeb !important;
$bg-brown: #f0e4da !important;
$bg-orange: #fce4d1 !important;
$bg-yellow: #fbeed0 !important;
$bg-green: #deede8 !important;
$bg-blue: #dee8f7 !important;
$bg-purple: #e0d8f4 !important;
$bg-pink: #fae0f0 !important;
$bg-red: #fbd6d2 !important;
$bg-gray-light: #f0edeb !important;
$bg-brown-light: #f0e4da !important;
$bg-orange-light: #fce4d1 !important;
$bg-yellow-light: #fbeed0 !important;
$bg-green-light: #deede8 !important;
$bg-blue-light: #dee8f7 !important;
$bg-purple-light: #e0d8f4 !important;
$bg-pink-light: #fae0f0 !important;
$bg-red-light: #fbd6d2 !important;
$pill-default: rgba(0, 0, 0, 0.04) !important;
$pill-gray: #f0edeb !important;
$pill-brown: #f0e4da !important;
$pill-orange: #fce4d1 !important;
$pill-yellow: #fbeed0 !important;
$pill-green: #deede8 !important;
$pill-blue: #dee8f7 !important;
$pill-purple: #e0d8f4 !important;
$pill-pink: #fae0f0 !important;
$pill-red: #fbd6d2 !important;

$c-default: var(--color-text-default);
$c-default-light: var(--color-text-default-light);
$c-gray: var(--color-text-gray);
$c-brown: var(--color-text-brown);
$c-orange: var(--color-text-orange);
$c-yellow: var(--color-text-yellow);
$c-green: var(--color-text-green);
$c-blue: var(--color-text-blue);
$c-purple: var(--color-text-purple);
$c-pink: var(--color-text-pink);
$c-red: var(--color-text-red);
$b-default: var(--color-bg-default);
$b-gray: var(--color-bg-gray);
$b-brown: var(--color-bg-brown);
$b-orange: var(--color-bg-orange);
$b-yellow: var(--color-bg-yellow);
$b-green: var(--color-bg-green);
$b-blue: var(--color-bg-blue);
$b-purple: var(--color-bg-purple);
$b-pink: var(--color-bg-pink);
$b-red: var(--color-bg-red);
$b-gray-light: var(--color-bg-gray-light);
$b-brown-light: var(--color-bg-brown-light);
$b-orange-light: var(--color-bg-orange-light);
$b-yellow-light: var(--color-bg-yellow-light);
$b-green-light: var(--color-bg-green-light);
$b-blue-light: var(--color-bg-blue-light);
$b-purple-light: var(--color-bg-purple-light);
$b-pink-light: var(--color-bg-pink-light);
$b-red-light: var(--color-bg-red-light);
$p-default: var(--color-pill-default);
$p-gray: var(--color-pill-gray);
$p-brown: var(--color-pill-brown);
$p-orange: var(--color-pill-orange);
$p-yellow: var(--color-pill-yellow);
$p-green: var(--color-pill-green);
$p-blue: var(--color-pill-blue);
$p-purple: var(--color-pill-purple);
$p-pink: var(--color-pill-pink);
$p-red: var(--color-pill-red);

@mixin notion-default-color-variables {
	--color-text-default: #{$clr-default};
	--color-text-default-light: #{$clr-default-light};
	--color-text-gray: #{$clr-gray};
	--color-text-brown: #{$clr-brown};
	--color-text-orange: #{$clr-orange};
	--color-text-yellow: #{$clr-yellow};
	--color-text-green: #{$clr-green};
	--color-text-blue: #{$clr-blue};
	--color-text-purple: #{$clr-purple};
	--color-text-pink: #{$clr-pink};
	--color-text-red: #{$clr-red};
	--color-bg-default: #{$bg-default};
	--color-bg-gray: #{$bg-gray};
	--color-bg-brown: #{$bg-brown};
	--color-bg-orange: #{$bg-orange};
	--color-bg-yellow: #{$bg-yellow};
	--color-bg-green: #{$bg-green};
	--color-bg-blue: #{$bg-blue};
	--color-bg-purple: #{$bg-purple};
	--color-bg-pink: #{$bg-pink};
	--color-bg-red: #{$bg-red};
	--color-bg-gray-light: #{$bg-gray-light};
	--color-bg-brown-light: #{$bg-brown-light};
	--color-bg-orange-light: #{$bg-orange-light};
	--color-bg-yellow-light: #{$bg-yellow-light};
	--color-bg-green-light: #{$bg-green-light};
	--color-bg-blue-light: #{$bg-blue-light};
	--color-bg-purple-light: #{$bg-purple-light};
	--color-bg-pink-light: #{$bg-pink-light};
	--color-bg-red-light: #{$bg-red-light};
	--color-pill-default: #{$pill-default};
	--color-pill-gray: #{$pill-gray};
	--color-pill-brown: #{$pill-brown};
	--color-pill-orange: #{$pill-orange};
	--color-pill-yellow: #{$pill-yellow};
	--color-pill-green: #{$pill-green};
	--color-pill-blue: #{$pill-blue};
	--color-pill-purple: #{$pill-purple};
	--color-pill-pink: #{$pill-pink};
	--color-pill-red: #{$pill-red};
}
