@use './colors' as *;

$n-clr-1: --color-primary;

$v-color-primary: #671e9b !important;
$v-cta-color-bg: #e4f5fe !important;
$v-cta-padding: 12px 22px !important;
$v-cta-border-radius: 50px !important;
$v-cta-color-text: #424b55 !important;
$v-color-text-default: #424b55;
$v-callout-border-radius: 20px !important;
$v-inline-code-bg-color: rgba(28, 160, 241, 0.1) !important;
$v-content-width: 1500px !important;
$v-color-code-block: #fafafa !important;
$v-color-text-light: white !important;
$v-column-spacing: 15px !important;
$v-collection-card-cover-size-small: 180px !important;
$v-collection-card-cover-size-medium: 260px !important;
$v-collection-card-cover-size-large: calc(50% - 15px) !important;
$v-transition: all 0.17s ease-in-out !important;
$v-color-bg-gray: #f5f4f2 !important;
$v-color-ui-hover-bg: rgba(150, 150, 150, 0.1) !important;
$v-color-ui-hover-bg-light: #e7f5fd !important;
$v-color-border-default: #f1f5f7;
$v-color-accent-bg: var($n-clr-1);
$v-color-card-bg: rgba(150, 150, 150, 0.1) !important;

$v-clr-1: $v-color-primary;
$v-cta-bg: $v-cta-color-bg;
$v-cta-p: $v-cta-padding;
$v-cta-br: $v-cta-border-radius;
$v-cta-txt: $v-cta-color-text;
$v-clr-txt-d: $v-color-text-default;
$v-call-br: $v-callout-border-radius;
$v-in-code: $v-inline-code-bg-color;
$v-con-w: $v-content-width;
$v-blk-code: $v-color-code-block;
$v-c-txt-l: $v-color-text-light;
$v-col-spac: $v-column-spacing;
$v-ccc-sm: $v-collection-card-cover-size-small;
$v-ccc-md: $v-collection-card-cover-size-medium;
$v-ccc-lg: $v-collection-card-cover-size-large;
$v-trans: $v-transition;
$v-bg-gray: $v-color-bg-gray;
$v-ui-hvr-bg: $v-color-ui-hover-bg;
$v-ui-hvr-bgl: $v-color-ui-hover-bg-light;
$v-c-bdr-d: $v-color-border-default;
$v-c-acc-bg: $v-color-accent-bg;
$v-c-card-bg: $v-color-card-bg;

$n-clr-1: --color-primary;
$n-cta-bg: --cta-color-bg;
$n-cta-p: --cta-padding;
$n-cta-br: --cta-border-radius;
$n-cta-txt: --cta-color-text;
$n-clr-txt-d: --color-text-default;
$n-call-br: --callout-border-radius;
$n-in-code: --inline-code-bg-color;
$n-con-w: --content-width;
$n-blk-code: --color-code-block;
$n-c-txt-l: --color-text-light;
$n-col-spac: --column-spacing;
$n-ccc-sm: --collection-card-cover-size-small;
$n-ccc-md: --collection-card-cover-size-medium;
$n-ccc-lg: --collection-card-cover-size-large;
$n-trans: --transition;
$n-bg-gray: --color-bg-gray;
$n-ui-hvr-bg: --color-ui-hover-bg;
$n-ui-hvr-bgl: --color-ui-hover-bg-light;
$n-c-bdr-d: --color-border-default;
$n-c-acc-bg: --color-accent-bg;
$n-c-card-bg: --color-card-bg;

$clr-1: var($n-clr-1);
$cta-bg: var($n-cta-bg);
$cta-p: var($n-cta-p);
$cta-br: var($n-cta-br);
$cta-txt: var($n-cta-txt);
$clr-txt-d: var($n-clr-txt-d);
$call-br: var($n-call-br);
$in-code: var($n-in-code);
$con-w: var($n-con-w);
$blk-code: var($n-blk-code);
$c-txt-l: var($n-c-txt-l);
$col-spac: var($n-col-spac);
$ccc-sm: var($n-ccc-sm);
$ccc-md: var($n-ccc-md);
$ccc-lg: var($n-ccc-lg);
$t-rans: var($n-trans);
$cbg-gray: var($n-bg-gray);
$ui-hvr-bg: var($n-ui-hvr-bg);
$ui-hvr-bgl: var($n-ui-hvr-bgl);
$c-bdr-d: var($n-c-bdr-d);
$c-acc-bg: var($n-c-acc-bg);
$c-card-bg: var($n-c-card-bg);

@mixin notion-theme-variables {
	$n-clr-1: $v-clr-1;
	$n-cta-bg: $v-cta-bg;
	$n-cta-p: $v-cta-p;
	$n-cta-br: $v-cta-br;
	$n-cta-txt: $v-cta-txt;
	$n-clr-txt-d: $v-clr-txt-d;
	$n-call-br: $v-call-br;
	$n-in-code: $v-in-code;
	$n-con-w: $v-con-w;
	$n-blk-code: $v-blk-code;
	$n-c-txt-l: $v-c-txt-l;
	$n-col-spac: $v-col-spac;
	$n-ccc-sm: $v-ccc-sm;
	$n-ccc-md: $v-ccc-md;
	$n-ccc-lg: $v-ccc-lg;
	$n-trans: $v-trans;
	$n-bg-gray: $v-bg-gray;
	$n-ui-hvr-bg: $v-ui-hvr-bg;
	$n-ui-hvr-bgl: $v-ui-hvr-bgl;
	$n-c-bdr-d: $v-c-bdr-d;
	$n-c-acc-bg: $v-c-acc-bg;
	$n-c-card-bg: $v-c-card-bg;
}
