@use './colors' as *;

$clr-default: #6f4d5a;
$clr-default-light: $hex;
$clr-gray: #9ca3af;
$clr-brown: #c9844f;
$clr-orange: #fb923c;
$clr-yellow: #fbbf24;
$clr-green: #34d399;
$clr-blue: #60a5fa;
$clr-purple: #c084fc;
$clr-pink: #f472b6;
$clr-red: #f87171;
$bg-default: $hexd;
$bg-gray: #f0edeb;
$bg-brown: #f0e4da;
$bg-orange: #fce4d1;
$bg-yellow: #fbeed0;
$bg-green: #deede8;
$bg-blue: #dee8f7;
$bg-purple: #e0d8f4;
$bg-pink: #fae0f0;
$bg-red: #fbd6d2;
$bg-gray-light: #f0edeb;
$bg-brown-light: #f0e4da;
$bg-orange-light: #fce4d1;
$bg-yellow-light: #fbeed0;
$bg-green-light: #deede8;
$bg-blue-light: #dee8f7;
$bg-purple-light: #e0d8f4;
$bg-pink-light: #fae0f0;
$bg-red-light: #fbd6d2;
$pill-default: $hex;
$pill-gray: #f0edeb;
$pill-brown: #f0e4da;
$pill-orange: #fce4d1;
$pill-yellow: #fbeed0;
$pill-green: #deede8;
$pill-blue: #dee8f7;
$pill-purple: #e0d8f4;
$pill-pink: #fae0f0;
$pill-red: #fbd6d2;

$color-text-default: --color-text-default;
$color-text-default-light: --color-text-default-light;
$color-text-gray: --color-text-gray;
$color-text-brown: --color-text-brown;
$color-text-orange: --color-text-orange;
$color-text-yellow: --color-text-yellow;
$color-text-green: --color-text-green;
$color-text-blue: --color-text-blue;
$color-text-purple: --color-text-purple;
$color-text-pink: --color-text-pink;
$color-text-red: --color-text-red;
$color-bg-default: --color-bg-default;
$color-bg-gray: --color-bg-gray;
$color-bg-brown: --color-bg-brown;
$color-bg-orange: --color-bg-orange;
$color-bg-yellow: --color-bg-yellow;
$color-bg-green: --color-bg-green;
$color-bg-blue: --color-bg-blue;
$color-bg-purple: --color-bg-purple;
$color-bg-pink: --color-bg-pink;
$color-bg-red: --color-bg-red;
$color-bg-gray-light: --color-bg-gray-light;
$color-bg-brown-light: --color-bg-brown-light;
$color-bg-orange-light: --color-bg-orange-light;
$color-bg-yellow-light: --color-bg-yellow-light;
$color-bg-green-light: --color-bg-green-light;
$color-bg-blue-light: --color-bg-blue-light;
$color-bg-purple-light: --color-bg-purple-light;
$color-bg-pink-light: --color-bg-pink-light;
$color-bg-red-light: --color-bg-red-light;
$color-pill-default: --color-pill-default;
$color-pill-gray: --color-pill-gray;
$color-pill-brown: --color-pill-brown;
$color-pill-orange: --color-pill-orange;
$color-pill-yellow: --color-pill-yellow;
$color-pill-green: --color-pill-green;
$color-pill-blue: --color-pill-blue;
$color-pill-purple: --color-pill-purple;
$color-pill-pink: --color-pill-pink;
$color-pill-red: --color-pill-red;

$c-default: var($color-text-default);
$c-default-light: var($color-text-default-light);
$c-gray: var($color-text-gray);
$c-brown: var($color-text-brown);
$c-orange: var($color-text-orange);
$c-yellow: var($color-text-yellow);
$c-green: var($color-text-green);
$c-blue: var($color-text-blue);
$c-purple: var($color-text-purple);
$c-pink: var($color-text-pink);
$c-red: var($color-text-red);
$b-default: var($color-bg-default);
$b-gray: var($color-bg-gray);
$b-brown: var($color-bg-brown);
$b-orange: var($color-bg-orange);
$b-yellow: var($color-bg-yellow);
$b-green: var($color-bg-green);
$b-blue: var($color-bg-blue);
$b-purple: var($color-bg-purple);
$b-pink: var($color-bg-pink);
$b-red: var($color-bg-red);
$b-gray-l: var($color-bg-gray-light);
$b-brown-l: var($color-bg-brown-light);
$b-orange-l: var($color-bg-orange-light);
$b-yellow-l: var($color-bg-yellow-light);
$b-green-l: var($color-bg-green-light);
$b-blue-l: var($color-bg-blue-light);
$b-purple-l: var($color-bg-purple-light);
$b-pink-l: var($color-bg-pink-light);
$b-red-l: var($color-bg-red-light);
$p-default: var($color-pill-default);
$p-gray: var($color-pill-gray);
$p-brown: var($color-pill-brown);
$p-orange: var($color-pill-orange);
$p-yellow: var($color-pill-yellow);
$p-green: var($color-pill-green);
$p-blue: var($color-pill-blue);
$p-purple: var($color-pill-purple);
$p-pink: var($color-pill-pink);
$p-red: var($color-pill-red);

@mixin notion-default-color-variables {
	$color-text-default: $clr-default;
	$color-text-default-light: $clr-default-light;
	$color-text-gray: $clr-gray;
	$color-text-brown: $clr-brown;
	$color-text-orange: $clr-orange;
	$color-text-yellow: $clr-yellow;
	$color-text-green: $clr-green;
	$color-text-blue: $clr-blue;
	$color-text-purple: $clr-purple;
	$color-text-pink: $clr-pink;
	$color-text-red: $clr-red;
	$color-bg-default: $bg-default;
	$color-bg-gray: $bg-gray;
	$color-bg-brown: $bg-brown;
	$color-bg-orange: $bg-orange;
	$color-bg-yellow: $bg-yellow;
	$color-bg-green: $bg-green;
	$color-bg-blue: $bg-blue;
	$color-bg-purple: $bg-purple;
	$color-bg-pink: $bg-pink;
	$color-bg-red: $bg-red;
	$color-bg-gray-light: $bg-gray-light;
	$color-bg-brown-light: $bg-brown-light;
	$color-bg-orange-light: $bg-orange-light;
	$color-bg-yellow-light: $bg-yellow-light;
	$color-bg-green-light: $bg-green-light;
	$color-bg-blue-light: $bg-blue-light;
	$color-bg-purple-light: $bg-purple-light;
	$color-bg-pink-light: $bg-pink-light;
	$color-bg-red-light: $bg-red-light;
	$color-pill-default: $pill-default;
	$color-pill-gray: $pill-gray;
	$color-pill-brown: $pill-brown;
	$color-pill-orange: $pill-orange;
	$color-pill-yellow: $pill-yellow;
	$color-pill-green: $pill-green;
	$color-pill-blue: $pill-blue;
	$color-pill-purple: $pill-purple;
	$color-pill-pink: $pill-pink;
	$color-pill-red: $pill-red;
}
