:root {
  --ygg-ndx-bgc: #{$index_background_color};
  --ygg-pg-bgc: #{$pg_bgc};
  --ygg-acc-bgc: #{$acc_bgc};
  --ygg-head-bgc: #{$head_bgc};
  --ygg-foot-bgc: #{$foot_bgc};
  --ygg-nav-bgc: #{$nav_bgc};
  --ygg-mobilenav-bgc: #{$mobilenav_bgc};
  --ygg-form-bgc: #{$form_bgc};
  --ygg-drop-bgc: #{$drop_bgc};
  --ygg-copy-bgc: #{$copy_bgc};
  --ygg-card-bgc: #{$card_bgc};
  --ygg-alert-bgc: #{$alert_bgc};
  --ygg-block-bgc: #{$block_bgc};
  --ygg-banner-bgc: #{$banner_bgc};
  --ygg-link-bgc: #{$link_bgc};
  --ygg-body-tc: #{$body_tc};
  --ygg-accent-tc: #{$accent_tc};
  --ygg-h1-tc: #{$h1_tc};
  --ygg-h2-tc: #{$h2_tc};
  --ygg-h3-tc: #{$h3_tc};
  --ygg-h4-tc: #{$h4_tc};
  --ygg-h5-tc: #{$h5_tc};
  --ygg-h6-tc: #{$h6_tc};
  --ygg-foot-tc: #{$foot_tc};
  --ygg-nav-tc: #{$nav_tc};
  --ygg-mobilenav-tc: #{$mobilenav_tc};
  --ygg-form-tc: #{$form_tc};
  --ygg-copy-tc: #{$copy_tc};
  --ygg-alert-tc: #{$alert_tc};
  --ygg-btn-tc: #{$btn_tc};
  --ygg-buybtn-tc: #{$buybtn_tc};
  --ygg-cartbtn-tc: #{$cartbtn_tc};
  --ygg-productgrid-tc: #{$productgrid_tc};
  --ygg-producttitle-tc: #{$producttitle_tc};
  --ygg-productvendor-tc: #{$productvendor_tc};
  --ygg-productprice-tc: #{$productprice_tc};
  --ygg-collectiontitle-tc: #{$collectiontitle_tc};
  --ygg-tag-tc: #{$tag_tc};
  --ygg-error-tc: #{$error_tc};
  --ygg-main-btn: #{$main_btn};
  --ygg-accent-btn: #{$accent_btn};
  --ygg-nav-btn: #{$nav_btn};
  --ygg-mobilenav-btn: #{$mobilenav_btn};
  --ygg-form-btn: #{$form_btn};
  --ygg-buy-btn: #{$buy_btn};
  --ygg-cart-btn: #{$cart_btn};
  --ygg-main-btn-hvr: #{$main_btn_hvr};
  --ygg-accent-btn-hvr: #{$accent_btn_hvr};
  --ygg-nav-btn-hvr: #{$nav_btn_hvr};
  --ygg-mobilenav-btn-hvr: #{$mobilenav_btn_hvr};
  --ygg-form-btn-hvr: #{$form_btn_hvr};
  --ygg-buy-btn-hvr: #{$buy_btn_hvr};
  --ygg-cart-btn-hvr: #{$cart_btn_hvr};
  --ygg-body-lnk: #{$body_lnk};
  --ygg-accent-lnk: #{$accent_lnk};
  --ygg-head-lnk: #{$head_lnk};
  --ygg-foot-lnk: #{$foot_lnk};
  --ygg-nav-lnk: #{$nav_lnk};
  --ygg-mobilenav-lnk: #{$mobilenav_lnk};
  --ygg-copy-lnk: #{$copy_lnk};
  --ygg-alert-lnk: #{$alert_lnk};
  --ygg-body-lnk-hvr: #{$body_lnk_hvr};
  --ygg-accent-lnk-hvr: #{$accent_lnk_hvr};
  --ygg-head-lnk-hvr: #{$head_lnk_hvr};
  --ygg-foot-lnk-hvr: #{$foot_lnk_hvr};
  --ygg-nav-lnk-hvr: #{$nav_lnk_hvr};
  --ygg-mobilenav-lnk-hvr: #{$mobilenav_lnk_hvr};
  --ygg-copy-lnk-hvr: #{$copy_lnk_hvr};
  --ygg-alert-lnk-hvr: #{$alert_lnk_hvr};
  --ygg-border-clr: #{$border_clr};
  --ygg-borderaccent-clr: #{$borderaccent_clr};
  --ygg-imgoverlay-clr: #{$imgoverlay_clr};
  --ygg-sale-clr: #{$sale_clr};
  --ygg-ico-clr: #{$ico_clr};
  --ygg-carticon-clr: #{$carticon_clr};
  --ygg-cartaccent-clr: #{$cartaccent_clr};
  --ygg-select-clr: #{$select_clr};
  --ygg-fb-clr: #{$fb_clr};
  --ygg-ig-clr: #{$ig_clr};
  --ygg-yt-clr: #{$yt_clr};
  --ygg-tw-clr: #{$tw_clr};
  --ygg-pt-clr: #{$pt_clr};
  --ygg-em-clr: #{$em_clr};
  --ygg-ph-clr: #{$ph_clr};
  --ygg-base-fs: #{$base_fs};
  --ygg-mobile-fs: #{$mobile_fs};
  --ygg-pgtitle-fs: #{$pgtitle_fs};
  --ygg-h1-fs: #{$h1_fs};
  --ygg-h2-fs: #{$h2_fs};
  --ygg-h3-fs: #{$h3_fs};
  --ygg-h4-fs: #{$h4_fs};
  --ygg-h5-fs: #{$h5_fs};
  --ygg-h6-fs: #{$h6_fs};
  --ygg-btn-fs: #{$btn_fs};
  --ygg-nav-fs: #{$nav_fs};
  --ygg-mobilenav-fs: #{$mobilenav_fs};
  --ygg-form-fs: #{$form_fs};
  --ygg-copy-fs: #{$copy_fs};
  --ygg-alert-fs: #{$alert_fs};
  --ygg-lable-fs: #{$lable_fs};
  --ygg-link-fs: #{$link_fs};
  --ygg-body-p: #{$body_p};
  --ygg-body-m: #{$body_m};
  --ygg-body-p-mbl: #{$body_p_mbl};
  --ygg-body-m-mbl: #{$body_m_mbl};
  --ygg-page-p: #{$page_p};
  --ygg-page-m: #{$page_m};
  --ygg-page-p-mbl: #{$page_p_mbl};
  --ygg-page-m-mbl: #{$page_m_mbl};
  --ygg-section-p: #{$section_p};
  --ygg-section-m: #{$section_m};
  --ygg-section-p-mbl: #{$section_p_mbl};
  --ygg-section-m-mbl: #{$section_m_mbl};
  --ygg-header-p: #{$header_p};
  --ygg-header-m: #{$header_m};
  --ygg-header-p-mbl: #{$header_p_mbl};
  --ygg-header-m-mbl: #{$header_m_mbl};
  --ygg-footer-p: #{$footer_p};
  --ygg-footer-m: #{$footer_m};
  --ygg-footer-p-mbl: #{$footer_p_mbl};
  --ygg-footer-m-mbl: #{$footer_m_mbl};
  --ygg-nav-p: #{$nav_p};
  --ygg-nav-m: #{$nav_m};
  --ygg-nav-p-mbl: #{$nav_p_mbl};
  --ygg-nav-m-mbl: #{$nav_m_mbl};
  --ygg-title-p: #{$title_p};
  --ygg-title-m: #{$title_m};
  --ygg-title-p-mbl: #{$t_tle_p_mbl};
  --ygg-title-m-mbl: #{$title_m_mbl};
  --ygg-h1-p: #{$h1_p};
  --ygg-h1-m: #{$h1_m};
  --ygg-h1-p-mbl: #{$h1_p_mbl};
  --ygg-h1-m-mbl: #{$h1_m_mbl};
  --ygg-h2-p: #{$h2_p};
  --ygg-h2-m: #{$h2_m};
  --ygg-h2-p-mbl: #{$h2_p_mbl};
  --ygg-h2-m-mbl: #{$h2_m_mbl};
  --ygg-h3-p: #{$h3_p};
  --ygg-h3-m: #{$h3_m};
  --ygg-h3-p-mbl: #{$h3_p_mbl};
  --ygg-h3-m-mbl: #{$h3_m_mbl};
  --ygg-h4-p: #{$h4_p};
  --ygg-h4-m: #{$h4_m};
  --ygg-h4-p-mbl: #{$h4_p_mbl};
  --ygg-h4-m-mbl: #{$h4_m_mbl};
  --ygg-h5-p: #{$h5_p};
  --ygg-h5-m: #{$h5_m};
  --ygg-h5-p-mbl: #{$h5_p_mbl};
  --ygg-h5-m-mbl: #{$h5_m_mbl};
  --ygg-h6-p: #{$h6_p};
  --ygg-h6-m: #{$h6_m};
  --ygg-h6-p-mbl: #{$h6_p_mbl};
  --ygg-h6-m-mbl: #{$h6_m_mbl};
  --ygg-ul-p: #{$ul_p};
  --ygg-ul-m: #{$ul_m};
  --ygg-ul-p-mbl: #{$ul_p_mbl};
  --ygg-ul-m-mbl: #{$ul_m_mbl};
  --ygg-li-p: #{$li_p};
  --ygg-li-m: #{$li_m};
  --ygg-li-p-mbl: #{$li_p_mbl};
  --ygg-li-m-mbl: #{$li_m_mbl};
  --ygg-a-p: #{$a_p};
  --ygg-a-m: #{$a_m};
  --ygg-a-p-mbl: #{$a_p_mbl};
  --ygg-a-m-mbl: #{$a_m_mbl};
}